body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  letter-spacing: 0.01em;
  color: var(--jpt-colour-text);
  font-family: var(--jpt-font-body);
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--jpt-colour-link);
  transition: opacity 300ms ease;
  font-size: 0.875rem;

  &:hover {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

h1,
h2,
.jpt-header-title,
pre,
code,
kbd {
  color: var(--jpt-colour-heading);
  font-family: var(--jpt-font-heading);
}

h1,
h2,
h3,
.jpt-header-title,
.jpt-footer-title,
.wp-caption-text {
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1,
.jpt-header-title {
  font-weight: 600;
}

h1,
.jpt-header-title,
h2 {
  font-size: 1.875rem;
}

h2,
h3,
.jpt-footer-title {
  font-weight: 500;
}

h3,
.jpt-footer-title {
  font-size: 1.125rem;
}

h3 {
  color: var(--jpt-colour-subheading);
}

.jpt-footer-title {
  color: var(--jpt-colour-text);
  font-family: var(--jpt-font-heading);
}

.wp-caption-text,
.jpt-subtext {
  color: var(--jpt-colour-subtext);
}

.wp-caption-text,
.jpt-subtext,
pre,
code,
kbd {
  font-size: 0.875rem;
}

b,
strong {
  font-weight: 600;
}

::selection {
  background-color: var(--jpt-colour-link);
  color: var(--jpt-colour-bg);
}
