body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  font-size: 1.15rem;
  letter-spacing: 0.01em;
  color: var(--jpt-colour-text);
  font-family: var(--jpt-font-body);
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: var(--jpt-colour-link);
  font-size: 1.025rem;
  background-image: linear-gradient(
    var(--jpt-colour-link-underline),
    var(--jpt-colour-link-underline)
  );
  background-size: 0% 1px;
  background-position-y: 100%;
  background-position-x: 0%;
  background-repeat: no-repeat;
  transition:
    background-size 200ms ease-in-out,
    opacity 200ms ease;

  &:hover {
    background-size: 100% 1px;
  }

  &:active {
    opacity: 0.7;
  }
}

p,
h1,
h2,
h3,
h4 {
  overflow-wrap: break-word;
}

h1,
h2,
.jpt-header-title {
  color: var(--jpt-colour-heading);
  font-family: var(--jpt-font-heading);
}

h1,
h2,
h3,
.jpt-header-title,
.jpt-footer-title,
.wp-caption-text {
  line-height: 1.2;
  letter-spacing: -0.02em;
}

h1,
.jpt-header-title {
  font-weight: 600;
}

h1,
.jpt-header-title,
h2 {
  font-size: 2.025rem;
}

h2,
h3,
.jpt-footer-title {
  font-weight: 500;
}

h3,
.jpt-footer-title {
  font-size: 1.275rem;
}

h3 {
  color: var(--jpt-colour-subheading);
}

.jpt-footer-title {
  color: var(--jpt-colour-text);
  font-family: var(--jpt-font-heading);
}

.wp-caption-text,
.jpt-subtext {
  color: var(--jpt-colour-subtext);
}

.wp-caption-text,
.jpt-subtext,
pre,
code,
kbd {
  font-size: 1.025rem;
}

b,
strong {
  font-weight: 600;
}

::selection {
  background-color: var(--jpt-colour-link);
  color: var(--jpt-colour-bg);
}

pre,
code,
kbd {
  font-family: var(--jpt-font-mono);
  color: var(--jpt-colour-subheading);
  background-color: var(--jpt-colour-secondary-bg);
  border-radius: 4px;
  padding: 0.125rem 0.375rem;
  margin: 0 0.125rem;
}
