:root {
  /* Colours */
  --jpt-colour-bg: #fafafa;
  --jpt-colour-heading: #262626;
  --jpt-colour-subheading: #404040;
  --jpt-colour-text: #525252;
  --jpt-colour-subtext: #737373;
  --jpt-colour-muted: #a3a3a3;
  --jpt-colour-link: #3b52a4;

  /* Layout */
  --jpt-max-width: 832px;
}
